#page div h2 { color: black; border-bottom: solid 2px #bbb; margin: 2em 0 0.5em 0; }
#page div h3 { margin: 1.5em 0 0.5em 0; font-weight: bold; text-decoration: underline; color: black; }
#page div h4 { margin: 1.5em 0 0.5em 0; font-weight: bold; color: black; }
#page div ul { margin: auto 1em; }
#page div ul li { padding: 2px; }
#page a { text-decoration: underline; color: #33c; }

#owner h4 { font-size: 14px; }

#stageComment { border: silver dotted 2px; padding: 8px 12px; margin: 4px auto; }
#stageComment a { color: #33c; }
